
<div id="container">
  <a>
    <button routerLink="create" type="button" class="btn btn-primary animationTop delay-01" value="Add New"
            style="float: right; font-size: 16px; margin-top: 57px">Add New
    </button>
  </a>
  <div>
    <form class="d-flex animationTop delay-02" role="search"  style="float: left; font-size: 17px; margin-top: 57px">
      <input class="form-control me-2" name="names" type="search" placeholder="Search name" aria-label="Search">
      <input class="form-control me-2" name="email" type="search" placeholder="Search email" aria-label="Search">
      <select class="form-select animationTop delay-03" aria-label="Default select example" name="customer_type"
              style="padding-right: 10px">
        <option selected value="">Customer type:</option>
        <option value="1">Diamond</option>
        <option value="2">Platinum</option>
        <option value="3">Gold</option>
        <option value="4">Silver</option>
        <option value="5">Member</option>
      </select>
      <button class="btn btn-primary animationTop delay-04" type="submit">Search</button>
    </form>
  </div>
  <h1 style="margin-left: 40%">CUSTOMER</h1>
  <table class="table table-hover" style="text-align: center">
    <thead>
    <tr class="animationTop delay-05">
      <th>#</th>
      <th>Customer Name</th>
      <th>Day Of Birth</th>
      <th>Gender</th>
      <th>ID CARD</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Address</th>
      <th>Customer Type</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center" *ngFor="let item of customer |paginate:{itemsPerPage: 1, currentPage: p}" class="animationTop delay-06">
      <td class="animationTop delay-07">{{item.id}}</td>
      <td class="animationTop delay-07">{{item.name}}</td>
      <td class="animationTop delay-07">{{item.dayOfBirth}}</td>
      <td class="animationTop delay-07" *ngIf="item.gender==1">Male</td>
      <td class="animationTop delay-07" *ngIf="item.gender==0">Female</td>
      <td class="animationTop delay-07" *ngIf="item.gender==2">Other</td>
      <td class="animationTop delay-07">{{item.idCard}}</td>
      <td class="animationTop delay-07">{{item.phoneNumber}}</td>
      <td class="animationTop delay-07">{{item.email}}</td>
      <td class="animationTop delay-07">{{item.address}}</td>
      <td class="animationTop delay-07" *ngIf="item.customerType">{{item.customerType.name}}</td>


      <td>
        <a [routerLink]="['update/', item.id]" class="btn btn-warning animationTop delay-17" style="font-size: 14px">Update</a>
      </td>
      <td>
        <a class="btn btn-danger animationTop delay-18" type="button"
           data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-size: 14px" (click)="temp=item">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p=$event"></pagination-controls>


  <div class="snow"></div>
</div>

<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content" style="background-image: linear-gradient(to top,  #B5B5B5, #B5B5B5,#8273B0); overflow:hidden;">-->
<!--      <div class="modal-header">-->
<!--        <h2 class="modal-title fs-5" id="exampleModalLabel">Xóa thông tin sản phẩm</h2>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <p style="color:red">Bạn có chắc muốn xóa {{temp.name}}</p>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>-->
<!--        <button type="button" class="btn btn-primary" (click)="delete()" data-bs-dismiss="modal">Xóa</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




