<header>
  <div class="box">
    <div class="logo" style="background-color: orange">
      <h3 style="color: blue; padding-left: 25px">CODEGYM</h3>
    </div>
    <div class="menu" style="color: orangered">
      <ul>
        <li class="active">
          <a routerLink="/">HOME</a>
        </li>

        <li>
          <a href="#">INFO</a>
        </li>
        <li>
          <a href="#">CONTACT</a>
        </li>
        <li>
          <a href="#">MESSAGE</a>
        </li>

        <li>
          <a></a>
        </li>
      </ul>
    </div>

  </div>
</header>
